<h2>Selectează meciul:</h2>
<ul class="games-list">
  <li *ngFor="let game of games"
      [class.selected]="game.id === selectedGameId"
      (click)="onSelectGame(game.id)">
    {{ game.gameDate | date:'dd/MM/yyyy, HH:mm' }}
    - {{ game.homeTeamName }} vs {{ game.awayTeamName }}
    ({{ game.competitionName }})
  </li>
</ul><br>

<!-- SEATS -->
<div class="seats-container" *ngIf="selectedGameId">
  <h3>Selectează un loc pentru meciul #{{ selectedGameId }}</h3>

  <div class="seats-grid">
    <div *ngFor="let seat of seats"
         [class.taken]="seat.isTaken"
         [class.available]="!seat.isTaken"
         [class.selected]="selectedSeatId === seat.id"
         class="seat-card"
         (click)="onSelectSeat(seat.id)">
      {{ seat.seatName }}<br>
      {{ seat.seatType }}<br>
      {{ seat.seatPrice }} RON
    </div>
  </div>

  <button class="reserve-btn"
          (click)="onReserve()"
          [disabled]="!selectedSeatId || !selectedGameId">
    Rezervă bilet
  </button>
</div>
