<div class="section-title-wrapper">
  <h1 class="section-title">Selectează meciul:</h1>
</div>
<!-- Search bar -->
<div class="games-search-bar">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Caută meci după nume echipă..."
    class="text-input"
  >
  <input
    type="date"
    [(ngModel)]="searchDate"
    class="date-input"
  >
</div>
<ul class="games-list">
  <li *ngFor="let game of filteredGames"
      [class.selected]="game.id === selectedGameId"
      (click)="onSelectGame(game.id)">
    {{ game.gameDate | date:'dd/MM/yyyy, HH:mm' }}
    - {{ game.homeTeamName }} vs {{ game.awayTeamName }}
    ({{ game.competitionName }})
  </li>
</ul>

<!-- NO GAMES MESSAGE -->
<div *ngIf="filteredGames.length === 0" class="no-games">
  <div class="section-title-wrapper">
    <h2 class="section-title" >Nu există meciuri disponibile pentru criteriile selectate.</h2>
  </div>
</div>


<!-- afiseaza numele stadionului arcuit deasupra daca exista un stadion selectat -->
<div *ngIf="selectedStadiumName" class="curved-text-wrapper">
  <!-- svg creeaza zona grafica unde va fi desenat textul pe curba (viewBox defineste dimensiunea, ex: 400x20) -->
  <svg viewBox="0 0 400 20">
    <defs>
      <!-- defineste o curba pe care va fi afisat textul (d descrie traiectoria curbei, de la x=40 y=140 la x=360 y=140) -->
      <path id="curve" d="M 40,140 
      A 160,160 0 0,1 360,140" /> <!-- A defineste curba eliptica, 160 este raza pe axa x si y -->
    </defs>
    <text text-anchor="middle" font-size="26" font-weight="bold" fill="#2d572c">
      <!-- textPath asociaza textul cu curba definita si il pozitioneaza pe mijloc cu startOffset="50%" -->
      <textPath href="#curve" startOffset="50%">
        <!-- afiseaza efectiv numele stadionului selectat pe curba -->
        {{ selectedStadiumName }}
      </textPath>
    </text>
  </svg>
</div>


<!-- Stadion -->
<div class="stadium-container">
  <div class="stadium-oval">
    <!-- Terenul de joc -->
    <div class="field">
      <div class="goal left"></div>
      <div class="goal right"></div>
      <div class="center-line"></div>
      <div class="center-circle"></div>
    </div>

    <!-- Tribuna -->
    <div class="zone A1">A1</div>
    <div class="zone A2">A2</div>
    <div class="zone B1 diamond1">B1</div>
    <div class="zone B2">B2</div>
    <div class="zone C1 diamond2">C1</div>
    <div class="zone C2">C2</div>
    <div class="zone D1">D1</div>
    <div class="zone D2 diamond1">D2</div>
    <div class="zone E1">E1</div>
    <div class="zone E2 diamond2">E2</div>
  </div>
</div>


<!-- Locuri -->
<div class="seats-container" *ngIf="selectedGameId" #stadiumZone>
  <div class="section-title-wrapper">
  <h3 class="section-title">Selectează un loc pentru meciul #{{ selectedGameId }}</h3>
</div>

  <div class="seats-grid">
    <div *ngFor="let seat of seats" 
      [class.taken]="seat.isTaken" [class.available]="!seat.isTaken" 
      [class.selected]="selectedSeatId === seat.id" class="seat-card" 
      (click)="!seat.isTaken && onSelectSeat(seat.id)">

      {{ seat.seatName }}<br>
      {{ seat.seatType }}<br>
      {{ seat.seatPrice }} RON
    </div>
  </div>
  <div class="section-title-wrapper">
    <button class="reserve-btn"
            (click)="onReserve()"
            [disabled]="!selectedSeatId || !selectedGameId">
      Rezervă bilet
    </button></div>
</div>