.landing-logo {
  width: 200px;
  height: auto;
  margin-bottom: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-title {
  color: #1677ff;
  font-size: 2.1rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 40px 0 24px 0;
  padding-left: 18px;
  text-shadow: 0 2px 10px rgba(22, 119, 255, 0.07);
  border-left: 5px solid #1677ff18;
  background: linear-gradient(90deg, #eaf3ff 0 60%, transparent 100%);
  border-radius: 10px 0 0 10px;
  display: inline-block;
}

.ticket-list {
  max-width: 700px;
  margin: 0 auto 40px auto;
  padding: 0 10px;

  .ticket-card {
    border: 1.5px solid #b6cdfc;
    border-radius: 13px;
    padding: 1.1rem 1.4rem;
    margin-bottom: 1.5rem;
    background: #f6f9ff;
    box-shadow: 0 2px 12px 0 rgba(22,119,255,0.07);
    transition: box-shadow 0.23s, background 0.21s, border-color 0.19s;
    position: relative;
    max-width: 98vw;

    h4 {
      color: #1677ff;
      margin: 0 0 12px 0;
      font-size: 1.15rem;
      font-weight: bold;
    }

    p {
      margin: 0 0 6px 0;
      color: #434d5a;
      font-size: 1rem;
    }

    &.played span {
      color: #ff1744 !important;
      font-weight: 600;
    }
    &.upcoming span {
      color: #219653 !important;
      font-weight: 600;
    }

    &.played::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 12px;
      bottom: 12px;
      width: 7px;
      background: #ff174422;
      border-radius: 8px 0 0 8px;
    }
    &.upcoming::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 12px;
      bottom: 12px;
      width: 7px;
      background: #1ee68321;
      border-radius: 8px 0 0 8px;
    }
  }
}

.no-ticket {
    border: 1.5px solid #b6cdfc;
    border-radius: 13px;
    padding: 1.1rem 1.4rem;
    margin-bottom: 1.5rem;
    background: #f6f9ff;
    box-shadow: 0 2px 12px 0 rgba(22,119,255,0.07);
    transition: box-shadow 0.23s, background 0.21s, border-color 0.19s;
    position: relative;
    max-width: 98vw;
    text-align: center;
    color: #434d5a;}