<div class="chatbox-container">
  <div class="chat-messages">
    <h2 class="chatbox-title">
      <span class="ai-icon">🤖</span> ASISTENT AI
    </h2>

    <div *ngFor="let msg of messages">
      <div [ngClass]="{'user-message': msg.sender === 'user', 'ai-message': msg.sender === 'ai'}">
        <b *ngIf="msg.sender === 'ai'">Asistent:</b>
        <b *ngIf="msg.sender === 'user'">Tu:</b>
        <span>{{ msg.text }}</span><br><br>
        <small>Trimis la {{ msg.timestamp | date: 'HH:mm' }}</small>
      </div>
    </div>
  </div>
  <form (ngSubmit)="sendMessage()">
    <input [(ngModel)]="userInput" name="userInput" autocomplete="off" placeholder="Scrie intrebarea..." />
    <button type="submit" [disabled]="loading || !userInput">Trimite</button>
  </form>
</div>

