button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba($color: #2e2e2e4b, $alpha: 0.1);
  transition: all 0.3s ease-in-out;
  color: white;
  font-size: 25px;
}
button:hover {
  background-color: rgba($color: #2e2e2e4b, $alpha: 0.3);
  transform: scale(1.2);
}
