.news-title-wrapper {
  margin-bottom: 1rem;
}

.news-title {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #dddddd;
}

.news-title:hover {
  background-color: #f4f4f4;
}

.news-details {
  background-color: #f1f3f5;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.3s ease-in-out;
  max-width: 800px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comment {
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.comment strong {
  color: #007bff;
  font-weight: bold;
}

.comment small {
  color: #6c757d;
  font-size: 0.8rem;
}

.delete-comment {
  position: absolute;
  top: 20px;
  right: 10px;

  background-color: #dc3545;
  color: black;
  font-weight: bold;

  border: none;
  border-radius: 20px;
  padding: 6px 12px;

  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;

  &:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}


.comment-form {
  margin-top: 10px;
}

.comment-textarea {
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 0.75rem;
  resize: none;
  width: 96%;
  border: 1px solid #ccc;
}

.comment-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.25);
}

.submit-comment {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.submit-comment:hover {
  background-color: #218838;
  transform: scale(1.02);
}

.submit-comment:active {
  background-color: #1e7e34;
  transform: scale(0.98);
}

.admin-news-form {
  border: 2px dashed #ccc;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
}

.admin-news-form input,
.admin-news-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-right: 10px;
  background-color: #57acec;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 1px;
}

.success {
  color: green;
  margin-top: 5px;
}

.error {
  color: red;
  margin-top: 5px;
}
