<h3>Informatii cont</h3>
<form [formGroup]="nameForm" (ngSubmit)="onSaveName()">
  <label>Nume:</label>
  <input type="text" formControlName="firstName" />
  <br />
  <label>Prenume:</label>
  <input type="text" formControlName="lastName" />
  <br />
  <button type="submit" [disabled]="nameForm.invalid">Salvează</button>
</form><br>

<!-- USERNAME -->
<p>
  <strong>Username:</strong>
  <span *ngIf="!editUsername">{{ profile.username }}</span>
  <input *ngIf="editUsername" [formControl]="usernameControl" /><br>
  <button (click)="toggleEdit('username')">
    {{ editUsername ? 'Salvează' : 'Edit' }}
  </button>
</p>
<div *ngIf="usernameError" class="error">{{ usernameError }}</div>

<!-- EMAIL -->
<p>
  <strong>Email:</strong>
  <span *ngIf="!editEmail">{{ profile.email }}</span>
  <input *ngIf="editEmail" [formControl]="emailControl" /><br>
  <button (click)="toggleEdit('email')">
    {{ editEmail ? 'Salvează' : 'Edit' }}
  </button>
</p>
<div *ngIf="emailError" class="error">{{ emailError }}</div>

<!-- PHONE -->
<p>
  <strong>Telefon:</strong>
  <span *ngIf="!editPhone">{{ profile.phoneNumber }}</span>
  <input *ngIf="editPhone" [formControl]="phoneControl" /><br>
  <button (click)="toggleEdit('phone')">
    {{ editPhone ? 'Salvează' : 'Edit' }}
  </button>
</p>
<div *ngIf="phoneError" class="error">{{ phoneError }}</div>
<hr /><br>

<h3>Schimbă parola</h3>
<form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
  <label>Parola curentă:</label>
  <input type="password" formControlName="currentPassword" />
  <br />
  <label>Parolă nouă:</label>
  <input type="password" formControlName="newPassword" />
  <br />
  <button type="submit" [disabled]="passwordForm.invalid">Schimbă parola</button>
</form>

<div class="success" *ngIf="successMessage">{{ successMessage }}</div>
<div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

<hr /><br>

<hr /><br />
<button (click)="onDeleteAccount()" style="color: red;">Șterge contul</button>


