<h3>Informatii cont</h3>
<form [formGroup]="nameForm" (ngSubmit)="onSaveName()">
  <label>Nume:</label>
  <input type="text" formControlName="firstName" />
  <br />
  <label>Prenume:</label>
  <input type="text" formControlName="lastName" />
  <br />
  <button type="submit" [disabled]="nameForm.invalid">Salvează</button>
</form><br>

<!-- USERNAME -->
<div class="profile-section">
  <label>Username:</label>
  <div class="field-wrapper">
    <span *ngIf="!editUsername">{{ profile.username }}</span>
    <input *ngIf="editUsername" [formControl]="usernameControl" />
    <button (click)="toggleEdit('username')">
      {{ editUsername ? 'Salvează' : 'Edit' }}
    </button>
  </div>
  <div *ngIf="usernameError" class="error">{{ usernameError }}</div>
</div>

<!-- EMAIL -->
<div class="profile-section">
  <label>Email:</label>
  <div class="field-wrapper">
    <span *ngIf="!editEmail">{{ profile.email }}</span>
    <input *ngIf="editEmail" [formControl]="emailControl" />
    <button (click)="toggleEdit('email')">
      {{ editEmail ? 'Salvează' : 'Edit' }}
    </button>
  </div>
  <div *ngIf="emailError" class="error">{{ emailError }}</div>
</div>

<!-- PHONE -->
<div class="profile-section">
  <label>Telefon:</label>
  <div class="field-wrapper">
    <span *ngIf="!editPhone">{{ profile.phoneNumber }}</span>
    <input *ngIf="editPhone" [formControl]="phoneControl" />
    <button (click)="toggleEdit('phone')">
      {{ editPhone ? 'Salvează' : 'Edit' }}
    </button>
  </div>
  <div *ngIf="phoneError" class="error">{{ phoneError }}</div>
</div>

<h3>Schimbă parola</h3>
<form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
  <label>Parola curentă:</label>
  <input type="password" formControlName="currentPassword" />
  <br />
  <label>Parolă nouă:</label>
  <input type="password" formControlName="newPassword" />
  <br />
  <button type="submit" [disabled]="passwordForm.invalid">Schimbă parola</button>
</form>

<div class="success" *ngIf="successMessage">{{ successMessage }}</div>
<div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
<hr /><br />
<button (click)="onDeleteAccount()" class="delete-account">Șterge contul</button>


