.access-denied-container {
    display: flex; // Creează un container flexibil (flexbox)
    flex-direction: column; // elementele din el se aliniază vertical
    //sunt centrate orizontal și vertical
    align-items: center;
    justify-content: center; 
    margin-top: 100px; // adauga un spatiu de 100px deasupra
  }
  
  .access-denied-img {
    width: 250px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #d9534f;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px; //spatiul din interiorul butonului paan la border
    background-color: #004085;
    color: #fff;
    border: none; //fara chenar
    cursor: pointer; //mouse-ul devine manuta la hover
    border-radius: 4px;//colturi rotunjite
  
    &:hover {
      background-color: #002752;
    }
  }