.teams-container {
    padding: 1rem;
}
  
  .team-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #dddddd;
}
  
  .team-card:hover {
    background-color: #f4f4f4;
}
  