table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1fbd88;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f4f4f4; /* Alternare culori pe rânduri */
}

tbody tr:hover {
  background-color: rgba(31, 189, 136, 0.2); /* Efect hover pe rânduri */
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
