<nav class="menu-content">
    <div class="menu-logo-box">
    <img src="./assets/images/logo.png" alt="FC Unirea Logo" class="menu-logo" />
  </div>
  <a *ngIf="isLoggedIn()" class="menu-item" routerLink="/home" routerLinkActive="active">
    Home
  </a>

  <div *ngIf="isLoggedIn()" class="menu-section">
    <div class="menu-title clickable" (click)="toggleUserMenu()">
      User
      <span class="arrow" [class.open]="userMenuOpen">▾</span>
    </div>

    <div *ngIf="userMenuOpen" class="menu-subitems">
      <a class="menu-subitem" routerLink="/profile" routerLinkActive="active">My Profile</a>
      <a class="menu-subitem" (click)="logout()">Logout</a>
    </div>
  </div>

  <a *ngIf="isLoggedIn()" class="menu-item" routerLink="/teams" routerLinkActive="active">
    Teams
  </a>

  <a *ngIf="isLoggedIn()" class="menu-item" routerLink="/my-tickets" routerLinkActive="active">
    My Tickets
  </a>

  <a *ngIf="isLoggedIn()" class="menu-item" routerLink="/ticketing" routerLinkActive="active">
    Online Tickets
  </a>

  <a *ngIf="!isLoggedIn()" class="menu-item" routerLink="/login" routerLinkActive="active">
    Login
  </a>

  <a *ngIf="isAdmin()" class="menu-item" routerLink="/admin/users" routerLinkActive="active">
  Admin: USERS
  </a>

  <a *ngIf="isAdmin()" class="menu-item" routerLink="/admin/competitions" routerLinkActive="active">
  Admin: COMPETITIONS
  </a>

  <a *ngIf="isAdmin()" class="menu-item" routerLink="/admin/players" routerLinkActive="active">
  Admin: PLAYERS
  </a>
  
  <a *ngIf="isAdmin()" class="menu-item" routerLink="/admin/teams" routerLinkActive="active">
  Admin: TEAMS
  </a>
  
  <a *ngIf="isAdmin()" class="menu-item" routerLink="/admin/games" routerLinkActive="active">
  Admin: GAMES
  </a>

  <app-chatbox class="chatbox-in-menu" *ngIf="isLoggedIn()"></app-chatbox>

</nav>
