.menu-content {
  width: 15%; /* Meniul ocupă 15% din lățimea totală */
  min-width: 200px; /* Asigură că nu devine prea mic pe ecrane mici */
  max-width: 300px; /* Poți ajusta în funcție de nevoie */
  height: 100vh; /* Asigură că meniul se întinde pe toată înălțimea ferestrei */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12),
              0px 2px 12px rgba(0, 17, 128, 0.12);
  background-color: #fff;
  position: fixed; /* Fixează meniul ca să nu se miște la scroll */
  right: 0; /* Îl aliniază în partea dreaptă */
  top: 0;
  a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: rgba(50, 148, 115, 0.08);
    }

    &:active,
    &:visited {
      color: #01140e;
    }

    &.active {
      background-color: rgba(31, 189, 136, 0.08);
      font-style: italic;
      color: #01140e;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 16px;

    &.parent {
        font-weight: bold;
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }
  }
}
